<div id="posts">
        <div id="posts-header">
            <img src={{profilePic}} id="profilePic" class="img-circle">
            <ul id="postHeading">
                <li> <span id='postHeading'>{{postHeading}}</span></li>
                <li> <span id='UserLoc'>{{userLoc}}</span></li>
            </ul>
        </div>
        <div id="post">
            <img src={{postPic}} class="img-responsive" id="postImage">
        </div>
        <div id="postOptions">
            <i class="fa fa-heart-o" id='postLike' aria-hidden="true"></i>
            <i class="fa fa-comment-o" id="postComment" aria-hidden="true"></i>
        </div>
        <div id="postLikesNum">
            <span>{{postLikes}} </span>Likes
        </div>
        <div id="postStatus">
            <span id="UserName">{{name}}</span><span id="statusContent">{{statusContent}}</span>
        </div>
        <div id="postTime">
            <span>{{postTime}}</span>
        </div>
        <hr>
</div> 